/*general desing, independent of size*/
.background{
    background-color: white;
}
#theme-icon{
    top: 80px;
    left: 30px;
    width: 91px;
    height: 91px;
}

.intro-block{
    position: relative;
}
.intro-parent{
    padding-top: 5em;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#enterence-background-shape{

    background: rgb(112, 187, 230);
    height: 900px;
    width: 100%;
    position: absolute;
    top: -41rem;
    transform: skewY(168deg);
    z-index: -1;
}
.block-number{ 
    overflow: visible;    
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 300px;
    color:  rgb(112, 187, 230);
    flex-shrink: 2;
    border: 1px dotted black;
    position: relative;
    width: 17%;
    justify-content: space-between;

}
.even-block{
    background-color: rgb(112, 187, 230);;
}
.number-text{
    font: normal normal bold 2rem/2.5rem Roboto;
    font-weight: bold;
    align-content: center;
    text-align: center;
    /* height: 1em; */
    color: #3D4351;
    position: absolute;
    top: 132px;
    left: 22px;
}
.block-number > p, .block-number > h3{
    position: absolute;
    margin: 0;
}
.block-text{
    width: 60%;
}
.block-text img{
    align-self: flex-end;
}
.block-text-gen{
    text-align: left;
    font: normal normal normal 16px/27px Roboto;
    letter-spacing: 0px;
    color: #3D4351;
    font-size: 1.2em;
}


img{
    width: 735px;  
    align-items: stretch    
}


/*screen size specific design*/

/* from smallest to biggest*/

    /* smartphones, iPhone, portrait 480x320 phones */ 
    @media (max-width:320px)  { 
    
       #intro-img img{
           width: 280px;       
       }
   }

   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
   @media (max-width:481px)  { 
    
       #intro-img img{
           width: 375px;       
       }
       #theme-icon{
          width: 60px;       
          margin-left: auto;     
       }
       .intro-shape{
           top: -38rem;
           transform: skewY(149deg);
       }

}


    @media (max-width:930px) {
    #enterence-background-shape{
        top: -33rem;
        transform: skewY(148deg);
    }
    #theme-icon{    
        margin-left: auto; 

    }
 }    



 /* @media (min-width:641px)  { 
     /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }*/ 
    

 
 /*@media (min-width:961px)  { 
     /* tablet, landscape iPad, lo-res laptops ands desktops 
        .intro-shape{
            top: -43rem;
            transform: skewY(144deg);
        }    
    }
 @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops  }
 @media (min-width:1281px) { hi-res laptops and desktops }*/





/* @media (max-width: 927px){     
    #intro-img img{
        width: 375px;       
    }
} */
/* @media (max-width: 640px){
      .intro-shape{
        top: -43rem;
        transform: skewY(144deg);
    }    
     #intro-img img{
        width: 375px;       
    }
} */
/*phone*/
/* @media (max-width: 572px){
    .intro-shape{        
        top: -49rem;
        transform: skewY(163deg);
    }    
}
 */

