/*general desing, independent of size*/
.background{
    background-color: white;
}
#theme-icon{
    top: 80px;
    left: 30px;
    width: 91px;
    height: 91px;
}
#enterence-img{
    flex-grow: 2;
}
#theme-block{
    padding: 3%; 
    width: 35vw;
}
#theme-title{
    font-size: 3em;
    font-family: roboto;
    width: 100%;
    color: #373d47;
}
#theme-txt{
   font-size: 2em; 
   padding-left: 0; 
}
#enterence-img img{
    width: 100%;
    flex-grow: 3;
    align-items: stretch ; 
    padding-top: 9%;  
}
#enterence-background-shape{

    background: rgb(112, 187, 230);
    height: 889px;
    width: 100%;
    position: absolute;
    top: -33rem;
    transform: skewY(162deg);
    z-index: -1;
}
/*second block after enterence block*/
.block-number{ 
    /* flex-shrink: 1; */
    overflow: visible;    
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 21em;
    color:  rgb(112, 187, 230);
    padding-left: 5%;
    justify-content: space-between;
    padding-left: 2%;

}
.big-number{
    position: relative;
}

.even-block{
    background-color: rgb(112, 187, 230);
}
.number-text{
    font: normal normal bold 2rem/2.5rem Roboto;
    font-weight: bold;
    align-content: center;
    text-align: center;
    color: #3D4351;
    position: absolute;
    top: 132px;
    left: 22px;
}
.block-number > p, .block-number > h3{
    position: absolute;
    margin: 0;
}
.block-text{
    width: 60%;
}
.block-text img{
    align-self: flex-end;
}
.number-block-text-part{
    flex-grow: 2;
    width: 35vw;
}
.block-text-gen{
    text-align: left;
    font: normal normal normal 16px/27px Roboto;
    letter-spacing: 0px;
    color: #3D4351;
    font-size: 1.4em;
    padding: 10%;
    padding-bottom: 0;

    font-weight: 400;
   
}
.block-svg-img{
  float: right;
  padding-right: 5%;
}


/* small screen - change of position*/
@media (max-width:1023px) {
    #enterence-background-shape{
        top: -33rem;
        transform: skewY(148deg);
    }
    #theme-icon{    
        margin-left: auto; 
    }
 }    

 /*tablet*/
    @media (max-width:768px){
        #theme-block{
            width: 100%;
        }
        #enterence-img img{
            padding-top: 0;
        }
        #theme-txt{
            padding: 0;
            font-size: 1.5em;
        }
        #theme-title{
            font-size: 2em;
        }
        .block-text-gen{
            font-size: 1.5em;            
        }
        .number-block-text-part{
            width: 100%;
            padding: 0;
        }
        .big-number{
            height: 0.4em;
            z-index: -1;
        }
        #numbered-block{
            justify-content: left;
        }
        #enterence-img img{
            /* problem - image isnt cropped in the right*/
        }
    }

    @media (max-width:481px)  { 
    #enterence-background-shape{
        top: -38rem;
        transform: skewY(149deg);
    }
   #theme-icon{
      width: 4em;
      height: 4em;       
      margin-left: auto;     
   }
   #theme-title{
    padding: 0;
   }
}
    






