.mediaViewInfo {
    --web-view-name: Custom Size – 1;
    --web-view-id: Custom_Size__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Custom_Size__1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
/* #Custom_Size__1 {
    /* position: absolute; 
    width: 480px;
    height: 5365px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Custom Size – 1;
    --web-view-id: Custom_Size__1;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
} */
#Group_12 {
    /* position: absolute; */
    width: 61px;
    height: 36.6px;
    left: 40px;
    top: 48px;
    overflow: visible;
}
#Group_1 {
    position: absolute;
    width: 30.139px;
    height: 36.6px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1 {
    fill: rgba(26,24,24,1);
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 30.139px;
    height: 36.6px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_2 {
    position: absolute;
    width: 30.139px;
    height: 36.6px;
    left: 30.861px;
    top: 0px;
    overflow: visible;
}
#Path_2 {
    fill: rgba(26,24,24,1);
}
.Path_2 {
    overflow: visible;
    position: absolute;
    width: 30.139px;
    height: 36.6px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#hamburger-menu {
    /* position: absolute; */
    width: 24.75px;
    height: 22.5px;
    left: 415.25px;
    top: 55px;
    overflow: visible;
}
#Path_4 {
    fill: rgba(0,0,0,1);
}
.Path_4 {
    overflow: visible;
    /* position: absolute; */
    width: 24.75px;
    height: 2.25px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
    fill: rgba(0,0,0,1);
}
.Path_5 {
    overflow: visible;
    /* position: absolute; */
    width: 24.75px;
    height: 2.25px;
    left: 0px;
    top: 10.125px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
    fill: rgba(0,0,0,1);
}
.Path_6 {
    overflow: visible;
    /* position: absolute; */
    width: 24.75px;
    height: 2.25px;
    left: 0px;
    top: 20.25px;
    transform: matrix(1,0,0,1,0,0);
}
#My_name_is_Beatris_Im_a_graphi {
    padding-left: 38px;
    top: 218px;
    /* position: absolute; */
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(54,54,54,1);
}
#Component_1__1 {
    /* position: absolute; */
    width: 138px;
    height: 40px;
    left: 40px;
    top: 321px;
    overflow: visible;
}
#Rectangle_2 {
    fill: rgba(152,215,226,1);
}
.Rectangle_2 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    overflow: visible;
    width: 156px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#My_Works {
    left: 34px;
    top: 11px;
    /* position: absolute; */
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#Hello_There {
    left: 39px;
    top: 159px;
    /* position: absolute; */
    overflow: visible;
    width: 184px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(54,54,54,1);
}
#pattern-01 {
    /* position: absolute; */
    width: 346px;
    height: 321px;
    left: 122px;
    top: 310px;
    overflow: visible;
}
#Group_19 {
    /* position: absolute; */
    width: 309px;
    height: 328px;
    left: 86px;
    top: 688px;
    overflow: visible;
}
#ABOUT {
    transform: translate(-36px, -688px) matrix(1,0,0,1,121,792) rotate(90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    /* position: absolute; */
    overflow: visible;
    width: 329px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    color: rgba(237,237,237,1);
}
#WHO_AM_I_ {
    left: 53px;
    top: 48px;
    /* position: absolute; */
    overflow: visible;
    width: 185px;
    white-space: nowrap;
    text-align: center;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(54,54,54,1);
}
#Im_Beatris_nice_to_meet_you_Si {
    left: 0px;
    top: 99px;
    /* position: absolute; */
    overflow: visible;
    width: 288px;
    height: 157px;
    line-height: 17px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#Component_1__2 {
    /* position: absolute; */
    width: 138px;
    height: 40px;
    left: 75px;
    top: 264px;
    overflow: visible;
}
#Rectangle_2_ {
    fill: rgba(152,215,226,1);
}
.Rectangle_2_ {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    overflow: visible;
    width: 156px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Download_CV {
    left: 22px;
    top: 11px;
    /* position: absolute; */
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#pattern-0-03 {
    /* position: absolute; */
    width: 397px;
    height: 404px;
    left: 42px;
    top: 976px;
    overflow: visible;
}
#PORTFOLIO {
    transform: matrix(1,0,0,1,-192.5,1594.5) rotate(270deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    /* position: absolute; */
    overflow: visible;
    width: 534px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    color: rgba(237,237,237,1);
}
#MY_WORKS {
    left: 36px;
    top: 1445px;
    /* position: absolute; */
    overflow: visible;
    width: 180px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(54,54,54,1);
}
#UIUX {
    left: 36px;
    top: 1488px;
    /* position: absolute; */
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(54,54,54,1);
}
#pattern-04 {
    /* position: absolute; */
    width: 223.873px;
    height: 72.772px;
    left: 233px;
    top: 1540.614px;
    overflow: visible;
}
#Group_13 {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 37px;
    top: 1654px;
    overflow: visible;
}
#AHHH {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#AHHH_ba {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_5 {
    /* position: absolute; */
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3 {
    fill: rgba(54,54,54,1);
}
.Rectangle_3 {
    /* position: absolute; */
    overflow: visible;
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
}
#Roomies {
    left: 28px;
    top: 13px;
    /* position: absolute; */
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Group_14 {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 37px;
    top: 2258px;
    overflow: visible;
}
#gallery_zigit {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_6 {
    /* position: absolute; */
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3_bh {
    fill: rgba(54,54,54,1);
}
.Rectangle_3_bh {
    /* position: absolute; */
    overflow: visible;
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
}
#Zigit {
    left: 43px;
    top: 13px;
    /* position: absolute; */
    overflow: visible;
    width: 32px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Group_16 {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 37px;
    top: 2560px;
    overflow: visible;
}
#plant_you_gallery {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_8 {
    /* position: absolute; */
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3_bm {
    fill: rgba(54,54,54,1);
}
.Rectangle_3_bm {
    /* position: absolute; */
    overflow: visible;
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
}
#PlantYou {
    left: 27px;
    top: 13px;
    /* position: absolute; */
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Group_17 {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 37px;
    top: 2862px;
    overflow: visible;
}
#iMac_clay_4 {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_9 {
    /* position: absolute; */
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3_br {
    fill: rgba(54,54,54,1);
}
.Rectangle_3_br {
    /* position: absolute; */
    overflow: visible;
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
}
#Dashboard {
    left: 21px;
    top: 13px;
    /* position: absolute; */
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#Group_18 {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 37px;
    top: 3164px;
    overflow: visible;
}
#Simple_Mockup_Free_Scene {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_10 {
    /* position: absolute; */
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3_bw {
    fill: rgba(54,54,54,1);
}
.Rectangle_3_bw {
    /* position: absolute; */
    overflow: visible;
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
}
#SmarTravel {
    left: 19px;
    top: 13px;
    /* position: absolute; */
    overflow: visible;
    width: 81px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#PORTFOLIO_by {
    transform: matrix(1,0,0,1,-192.5,3713.5) rotate(270deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    /* position: absolute; */
    overflow: visible;
    width: 534px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    color: rgba(237,237,237,1);
}
#MY_WORKS_bz {
    left: 35px;
    top: 3564px;
    /* position: absolute; */
    overflow: visible;
    width: 180px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(54,54,54,1);
}
#DIGITAL_DESIGN {
    left: 35px;
    top: 3607px;
    /* position: absolute; */
    overflow: visible;
    width: 188px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(54,54,54,1);
}
#pattern-05 {
    /* position: absolute; */
    width: 223.87px;
    height: 72.771px;
    left: 239px;
    top: 3651px;
    overflow: visible;
}
#Group_21 {
    /* position: absolute; */
    width: 406px;
    height: 457px;
    left: 37px;
    top: 3761px;
    overflow: visible;
}
#Group_20 {
    /* position: absolute; */
    width: 402.5px;
    height: 457px;
    left: 3.5px;
    top: 0px;
    overflow: visible;
}
#ID101272587_2880361215396329_5 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    width: 402.5px;
    height: 357px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#ID109864751_3008600759239040_4 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    width: 72px;
    height: 84px;
    left: 81.5px;
    top: 373px;
    overflow: visible;
}
#ID73223707_2951264204972696_75 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    width: 72px;
    height: 84px;
    left: 167.5px;
    top: 373px;
    overflow: visible;
}
#ID107427259_2976719389093844_5 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    width: 72px;
    height: 84px;
    left: 250.5px;
    top: 373px;
    overflow: visible;
}
#ID108246550_2995484930550623_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    width: 72px;
    height: 84px;
    left: 329.5px;
    top: 373px;
    overflow: visible;
}
#ID101272587_2880361215396329_5_b {
    opacity: 0.5;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    width: 72px;
    height: 84px;
    left: 0px;
    top: 373px;
    overflow: visible;
}
#CONTACT {
    transform: matrix(1,0,0,1,180,4464) rotate(90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    /* position: absolute; */
    overflow: visible;
    width: 453px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    color: rgba(237,237,237,1);
}
#LETS_TALK {
    left: 265px;
    top: 4352px;
    /* position: absolute; */
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(54,54,54,1);
}
#Contact_Mail-klover759gmailcom {
    left: 141px;
    top: 4432px;
    /* position: absolute; */
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 12px;
    color: rgba(54,54,54,1);
    text-decoration: underline;
}
#First_Name {
    left: 140px;
    top: 4507px;
    /* position: absolute; */
    overflow: visible;
    width: 78px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#Last_Name {
    left: 140px;
    top: 4630px;
    /* position: absolute; */
    overflow: visible;
    width: 78px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#Email {
    left: 140px;
    top: 4753px;
    /* position: absolute; */
    overflow: visible;
    width: 40px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#Phone {
    left: 140px;
    top: 4876px;
    /* position: absolute; */
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#Type_your_massage_here {
    left: 140px;
    top: 4999px;
    /* position: absolute; */
    overflow: visible;
    width: 172px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(54,54,54,1);
}
#Line_3 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_3 {
    overflow: visible;
    /* position: absolute; */
    width: 197px;
    height: 1px;
    left: 140px;
    top: 4697px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_4 {
    overflow: visible;
    /* position: absolute; */
    width: 197px;
    height: 1px;
    left: 140px;
    top: 4820px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_5 {
    overflow: visible;
    /* position: absolute; */
    width: 197px;
    height: 1px;
    left: 140px;
    top: 4943px;
    transform: matrix(1,0,0,1,0,0);
}
#Line_6 {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_6 {
    overflow: visible;
    /* position: absolute; */
    width: 197px;
    height: 1px;
    left: 140px;
    top: 5066px;
    transform: matrix(1,0,0,1,0,0);
}
#linkedin-01 {
    /* position: absolute; */
    width: 19px;
    height: 19px;
    left: 141px;
    top: 4462px;
    overflow: visible;
}
#Component_1__3 {
    /* position: absolute; */
    width: 138px;
    height: 40px;
    left: 170px;
    top: 5114px;
    overflow: visible;
}
#Rectangle_2_co {
    fill: rgba(152,215,226,1);
}
.Rectangle_2_co {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    /* position: absolute; */
    overflow: visible;
    width: 156px;
    height: 58px;
    left: 0px;
    top: 0px;
}
#Submit {
    left: 45px;
    top: 11px;
    /* position: absolute; */
    overflow: visible;
    width: 51px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(54,54,54,1);
}
#pattern-07 {
    /* position: absolute; */
    width: 450px;
    height: 177px;
    left: 18px;
    top: 5136px;
    overflow: visible;
}
#_Beatris_Ritenband_Portfolio {
    left: 149px;
    top: 5324px;
    /* position: absolute; */
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(54,54,54,1);
}
#Group_15 {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 37px;
    top: 1956px;
    overflow: visible;
}
#bonnie_gallery {
    /* position: absolute; */
    width: 406px;
    height: 286px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Group_7 {
    /* position: absolute; */
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_3_cv {
    fill: rgba(54,54,54,1);
}
.Rectangle_3_cv {
    /* position: absolute; */
    overflow: visible;
    width: 117px;
    height: 46px;
    left: 0px;
    top: 0px;
}
#Bonnie {
    left: 35px;
    top: 13px;
    /* position: absolute; */
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: rgba(255,255,255,1);
}